/* Custom Styling for my Web APP*/

@import 'bootstrap/dist/css/bootstrap';
@import "bootstrap/scss/bootstrap";
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 67px);
}

#logo {
    float: left;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    text-decoration: underline;
}

.boldc {
    font-weight: bold;
}

.center {
    text-align: center;
}

.custom-h1 {
    font-size: 25px;
    font-weight: bold;
}

.btns {
    border-top: 1px solid #eaeaea;
}

footer {
    align-self: flex-end;
    height: 50px;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #eaeaea;
    color: #777;
    z-index: 1;
}

footer a:hover {
    color: #222;
}