<div class="container-fluid">
  <footer class="footer center">
    <small>
    Copyright &copy; <a href="htpps://www.udemy.com">The complete Ruby on Rails developed by</a> <a href="http://www.mashrurhossain.com">Mashrur Hossain</a>
    </small>
  </footer>
</div>