<div class="container-fluid ">
  <footer class="footer center">
    <small>
    Copyright &copy; <a href="htpps://www.udemy.com">The complete Ruby on Rails developed by</a> <a href="http://www.mashrurhossain.com">Leonardo Mezu for the Rails course [Mashrur Hossain] </a>
    </small>
  </footer>
</div>